.button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 280px;
  min-height: 58px;
  background-color: $color-primary;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 16px;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}