.button {
  display: inline-block;
  box-sizing: border-box;
  width: 280px;
  min-height: 58px;
  padding: 16px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-primary;
  border: none;
  outline: none;
  &--gray {
    padding-right: 5px;
    padding-left: 5px;

    color: #333333;

    background-color: #f2f2f2;
    opacity: 0.3;
  }
}
