.container {
  min-width: 320px;
  max-width: 320px; //460px
  margin: 0 auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  // Насколько вообще уместно так делать?
  // Всмысле на весь макет задавать шрифт
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}
