.copyright-link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  &__logo {
    display: inline-block;

    vertical-align: middle;
    svg {
      display: block;
      width: 27px * 1.5;
      height: 34px * 1.5;
    }
  }
  &:hover &__logo-svg {
      fill: #81b3d2;
  }
  &:active &__logo-svg {
      fill: #b2b2b2;
  }
}
