.copyright-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  &__logo {
    display: inline-block;

    vertical-align: middle;
    svg {
      width: 27px * 1.5;
      height: 34px * 1.5;
    }
  }
}
