.feature {
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  hyphens: auto;

  padding: 40px 10% 40px;

  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: $color-primary;

  @media(max-width: 768px) {
    &--with-top-line {
      padding-top: 75px;
    }
    &--with-top-line::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      max-width: 100%;
      height: 37px;

      background: url("../img/feature-top-line.png") no-repeat center top;
      background-size: 100% 100%;
    }
  }
  @media(min-width: 768px) {
    padding: 45px 6% 45px;
    width: calc(100%/3);
  }
  &__title {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    @media(min-width: 768px) {
      max-width: 135px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__number {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  &__content {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  &--icon {
    position: relative;

    padding: 0 70px 35px 70px;

    color: #000000;

    background-color: #ffffff;

    @media(min-width: 768px) {
      display: inline-block;
      vertical-align: top;
      padding: 85px 5% 20px;
    }
  }
  &--icon:last-child {
    @media(max-width: 768px) {
      padding-bottom: 0;
    }
  }
  &--icon > &__title {
    text-align: left;

    @media(min-width: 768px) {
      text-align: center;
    }
  }
  &--icon > &__content {
    text-align: left;

    @media(min-width: 768px) {
      text-align: center;
    }
  }
  &--icon::before {
    content: "";
    position: absolute;
    display: block;
  }
  &--icon-house::before {
    top: -9px;
    left: 10px;

    width: 37px;
    height: 37px;

    background: url("../img/icon-house.png") no-repeat;
    background-size: cover;

    @media(min-width: 768px) {
      width: 75px;
      height: 72px;

      left: 50%;
      right: 50%;
      transform: translateX(-50%);

    }
  }
  &--icon-gift::before {
    top: -9px;
    left: 14px;

    width: 32px;
    height: 38px;

    background: url("../img/icon-gift.png") no-repeat;
    background-size: cover;

    @media(min-width: 768px) {
      width: 64px;
      height: 76px;

      left: 50%;
      right: 50%;
      transform: translateX(-50%);

      top: -12px;
    }
  }
  &--icon-burger::before {
    top: -8px;
    left: 12px;

    width: 37px;
    height: 35px;

    background: url("../img/icon-burger.png") no-repeat;
    background-size: cover;

    @media(min-width: 768px) {
      width: 74px;
      height: 70px;

      left: 50%;
      right: 50%;
      transform: translateX(-50%);
    }
  }
  &--gray {
    position: relative;

    color: #000000;

    background-color: #eeeeee;

    @media(min-width: 768px) {
      display: inline-block;
      vertical-align: top;
      padding: 40px 6% 40px;
    }
  }
  @media(max-width: 768px) {
    &--gray::after {
      content: "";
      position: absolute;
      right: 6.25%;
      bottom: 0;
      left: 6.25%;

      display: block;
      width: 87.5%;
      height: 1px;

      background-color: #d6d6d6;
    }
    &--gray:last-child::after {
      content: none;
    }
  }
}
