.logo {
  position: relative;
  min-height: 56px;

  @media(min-width: 768px) and (max-width: 960px) {
    position: absolute;
    top: 0;
    width: 138px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  &__link {
    position: absolute;
    right: 50%;
    left: 50%;

    display: block;
    width: 138px;
    height: 70px;

    transform: translateX(-50%);
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}
