.navigation {
  // Для позиционирования иконки меню
  position: relative;

  // Знак иконки меню
  &::after {
    content: '';
    width: 23px;
    height: 22px;
    position: absolute;
    right: 20px;
    bottom: 17px;
    background-image: url("../img/icon-menu.png");
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    box-sizing: border-box;
    min-height: 54px;

    font-family: "PTSans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    background-color: $color-primary;
    color: #fff;
    text-align: center;

    margin-bottom: 1px;
    box-shadow: 0 1px 0 #678fa8,
                inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  &__item:first-child {
    box-shadow: 0 1px 0 #678fa8;
    position: relative;
  }

  &__item:first-child::after {
    content: '';
    display: block;
    position: absolute;
    width: 23px;
    height: 22px;
    right: 20px;
    top: 17px;
    background: url("../img/icon-close.png");
  }

  &__item:last-child {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
                inset 0 -4px 5px #6d97b1;
    margin-bottom: 0;
  }

  &__item--active {
    
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    padding: round((55px-23px)/2) 0;
  }

}