.blog-navigation {
  margin-top: 10px;
  padding: 45px 6.25%;

  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
  &__container {
    margin-bottom: 20px;
  }
  &__link {
    display: block;
    box-sizing: border-box;
    min-height: 58px;

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    padding: (round((58px - 26px)/2)) 15px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid #81b3d2;
    &--back {
      float: left;
      width: 130px;
    }
    &--forward {
      float: right;
      width: 130px;
    }
    &:hover {
      color: #ffffff;

      background-color: #669ec0;
      border-color: #669ec0;
    }
    &:active {
      color: #88b6d1;

      background-color: #5496bd;
      border-color: #5496bd;
    }
  }
}
