.pagination {
  margin: 0;
  padding: 0;
  padding: 40px 6.25% 24px;

  list-style: none;
  font-size: 0;
  line-height: 0;

  @media(max-width: 460px) {
    border-top: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
  }
  &__text {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
    color: #000;
    @media(max-width: 768px) {
      display: none;
    }
    @media(min-width: 768px) and (max-width: 1200px) {
      margin-right: 70px;
      margin-left: 8px;
    }
    @media(min-width: 1200px) {
      
    }
  }
  &__item {
    box-sizing: border-box;
    display: inline-block;
    width: 58px;
    height: 58px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 21px;
    line-height: 58px;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    &--active {
      background-color: #e5e5e5;
    }
  }
  &__link {
    display: block;
    width: 58px;
    height: 58px;

    color: #ffffff;
    text-decoration: none;

    background-color: #81b3d2;

    &:hover {
      background-color: #669ec0;
    }
    &:active {
      color: #88b6d1;

      background-color: #5496bd;
    }
  }
}
