.popup {
  position: fixed;
  z-index: 3;
  box-sizing: border-box;
  width: 400px;
  min-height: 347px;
  padding: 25px 60px 49px 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: #fff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  display: none;

  &--show {
    display: block;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin: 30px 0;
  }

  &__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    text-transform: uppercase;
    margin: 30px 0;
    text-align: center;
  }

  &__footer {
    background-color: #f2f2f2;
    min-height: 146px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 44px 91px;
  }

  &--middle {
    padding: 0;
    padding-bottom: 150px;
    width: 640px;
    min-height: 347px;
  }

  &--middle &__title {
    margin-top: 50px;
    padding-left: 112px;
    padding-right: 112px;
  }

  &--middle &__content {
    padding-left: 112px;
    padding-right: 112px;
  }
}