.text-intro {
  padding: 35px 6.25% 5px;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;

  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  &--mxw500 {
    max-width: 500px;
  }
  &--pb15 {
    padding-bottom: 15px;
  }
  @media(min-width: 768px) {
    &--mqmin768pb30 {
      padding-bottom: 30px;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #000000;

    @media(min-width: 768px) {
      &--mqmin768fs21 {
        font-size: 21px;
      }

      &--mqmin768fs30 {
        font-size: 30px;
      }
    }
  }
  &__content {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #333333;
  }
  &__container {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
